@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
 box-sizing: border-box; 
}

html, body {
  height: 100%;
  width: 100%;
}

h1, p, span, .x-label, .marker {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 4em max-content max-content;
  grid-template-rows: 4em auto max-content max-content;
}

.graph-container {
  /* background-color: #888098; */
  height: 650px;
  display: flex;
  align-items: flex-end;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.bar {
  text-align: center;
}

.bar-label {
  position: relative;
}

.y-axis-label {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  overflow: hidden;
  text-align: center;
  display: flex;
}

.y-axis-label > p {
  writing-mode: sideways-lr;
}

.x-axis-label {
  grid-column: 3 /span 1;
  grid-row: 4 / span 1;
  text-align: center;
}

.title {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.markers-container {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  height: calc(600px + 1em);
  position: relative;
  bottom: calc(-50px + 0.5em);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.x-labels-container {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  display: flex;
}

.x-label {
  text-align: center;
  margin-top: 0.5em;
}